{% extends "base.html" %}
{% block title %}excavator{% end %}
{% block js%}
<script type="text/javascript" src="{{ static_url('js/excavator_core.js') }}"></script>

{% end %}

{% block content %}
<div class="row">
    <div class="col-lg-10">
        <div class="input-group">
            <input id="message" type="text" class="form-control" placeholder="Type something">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></button>
                <ul id="menu" class="dropdown-menu dropdown-menu-right">
                    <li><a id="000" href="#">Go</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a id="800" href="#">百度地图</a></li>
                    <li><a id="901" href="#">分词测试</a></li>
                    <li><a id="904" href="#">分词测试(搜索)</a></li>
                    <li><a id="902" href="#">提取关键字</a></li>
                    <li><a id="905" href="#">提取句子结构</a></li>
                    <li><a id="903" href="#">词性测试</a></li>
                    <!--<li><a id="keyword_code_btn" href="#">提取关键字码</a></li>-->
                    <li role="separator" class="divider"></li>
                    <li><a id="clear" href="#">清屏</a></li>
                </ul>
            </div><!-- /btn-group -->
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->

    <div id="result" style="margin:10px;" class="col-md-10"></div>
</div>
{% end %}

{% block baidu_map_api %}

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Wpi6NmGmbAxrQDl6NAOVdufUMPMHyofA">
//v2.0版本的引用方式：src="http://api.map.baidu.com/api?v=2.0&ak=您的密钥"
//v1.4版本及以前版本的引用方式：src="http://api.map.baidu.com/api?v=1.4&key=您的密钥&callback=initialize"
</script>

{% end %}

