{% extends "base.html" %}
{% block title %}ai1{% end %}
{% block js%}
<script type="text/javascript" src="{{ static_url('js/ai1.js') }}"></script>
{% end %}
{% block content %}
<div class="row">
    <!--
    <form class="form-inline">
        <div class="from-group col-md-12">
            <input id="search_txt" type="text" size="100" class="form-control" placeholder="Search something" />
            <button id="search_btn" type="button" class="btn btn-primary">Search</button>
        </div>
    </form>
    -->
    <div class="col-lg-6">
        <div class="input-group">
            <input id="input_txt" type="text" class="form-control" placeholder="Type something">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a id="clear_btn" href="#">清屏</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a id="go_btn" href="#">Go</a></li>
                    <li><a id="echo_btn" href="#">Echo</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a id="segment_btn" href="#">分词测试</a></li>
                    <li><a id="flag_btn" href="#">词性测试</a></li>
                    <li><a id="en_cn_btn" href="#">中英文测试</a></li>
                    <li><a id="semantic_btn" href="#">简单分析</a></li>
                </ul>
            </div><!-- /btn-group -->
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->

    <div id="result" class="col-md-12"></div>
</div>
{% end %}
